@use "variables" as v;
@use "mixins";

.gallery {
  &__image-container {
    height: 300px;
    width: 100%;
    background-image: url("./images/image-product-1.jpg");
    background-position-y: -35px;
    background-size: cover;
  }

  &__previus {
    @include mixins.image-btn;
  }

  &__next {
    @include mixins.image-btn;
    left: auto;
    right: 15px;
  }

  &__thumnails {
    display: none;

    @media (min-width: 1115px) {
      display: flex;
      justify-content: space-between;

    }
  }

  @media (min-width: 1115px) {
    width: 446px;

    &__image-container {
      border-radius: 16px;
      height: 380px;
      margin-bottom: 15px;
      background-position-y: 0;
    }

    &__thumnail {
      width: 90px;
      border-radius: 16px;

      &:hover {
        cursor: pointer;
        border: 2px solid v.$Orange;
      }
    }

    &__previus {
      display: none;
    }

    &__next {
      display: none;
    }
  }
}